::ng-deep .tab-container {
  a {
    color: #3c577f !important;
    font-size: 16px;
    font-weight: 600;
  }

  button {
    font-weight: bold;
  }

  .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #0e0e0e;
    border-color: #ffffff #dee2e6 #fff;
    color: white!important;
  }
}
